#md-filename{
  position: absolute;
  top: -16px;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding: 5px 10px 3px 10px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 10px 0px 10px 0px rgba(0,0,0,0.5);
  height: 40px;
  color: #333;
}
#md-body{
  margin-top: 45px;
}
